*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #fc5d66;
    --secondary-color: #ffc05a;
    --light-color: #f9fafb;
    --dark-color: #272d35;
}
html,body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}

/* Utility Function */
.section-header{
    max-width: 750px;
    margin:0 auto;
    text-align: center;
    margin-bottom: 3rem;
}
.section-header h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 0.5rem;
}
.heading-border{
    width: 64px;
    height: 4px;
    background-color: var(--primary-color);
    margin: 0 auto 2rem;
}
.section-header p{
    font-size: 1.3rem;
    color: var(--dark-color);
}
.section-lists{
    background-color: white;
    padding: 2rem;
}
.section{
    margin: 4rem 0;
}
/* Containers */
.container{
max-width: 1200px;
margin: 0 auto;
padding: 0 2rem;
}
/* NavBar */
.navbar{
    background-color: transparent;
    /* background-color: black; */
    color:white;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    transition: background-color 0.5s ease-in-out;
}
.navbar-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    width: 81px;
    height: 32px;
}
.navbar a{
    color: #fff;
}
.navbar a:hover, .navbar .current{
    color: var(--secondary-color);
}

.navbar ul.main-menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}
/* Mobile Navbar */
.navbar .mobile-menu{
    display: none;
}
.navbar .mobile-menu-toggle{
    color: white;
    padding: 10px;
}
.navbar i{
    font-size: 1.5rem;
}
.navbar .mobile-menu-items{
    position: absolute;
    top: 100%;
    left:0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.95;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.navbar .mobile-menu-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
}
.navbar .mobile-menu-items.active{
    transform: translate(0);
}
.navbar.navbar-scroll{
    background-color: rgba(235, 77, 85, 0.8);
    backdrop-filter: blur(10px);
}
/* Hero */
.hero{
    background: #000 url(
        ../images/header-background.jpg
    ) center/cover no-repeat;
    padding: 11.5rem 2rem 8rem;
    color: white;
    overflow-x: hidden;
    position: relative;
    border-bottom: 1px solid #f1f4f6;
}
.hero .hero-flex{
    display: flex;
    gap: 6rem;
    padding-bottom: 8rem;
    align-items: center;
    justify-content: space-between;
}
.hero img{
    width: 100%;
    margin-right: -100px;
}

.hero h1{
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 1rem;
}
.hero p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.8;
    font-weight: 400;
}
.hero .frame-decoration{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/* Learn Section */
.learn{
    margin-bottom: 4rem;
}
.topics{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.topic img{
    transition: transform 0.3s;
}
.topic img:hover{
    transform: scale(1.1);
}

.topic h3{
    font-size: 1rem;
    font-weight: 700;
    margin: 0.5rem 0;
}
/* Chapter section */
.chapter-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem 0 4rem;
    gap: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1.75rem;
    background: white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}
.chapter-cards img{
    width: 130px;
    margin-top: 1rem;
}
.chapter-cards h3{
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1rem 0;
}
/* Summary */
.summary{
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 4rem 2rem 5rem;
}
.summary .list-header{
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem 0;
}
.summary .list-item{
    padding: 1.4rem 0;
    border-bottom: 1px solid #f1f4f6;
}

/* Info session */
.info-container{
    background: url(../images/audience.jpg) top center / cover no-repeat;
    display: flex;
}
.info-left{
    width: 50%;
}
.info-content{
    background-color: var(--primary-color);
    color: white;
    flex: 1;
    padding: 4rem;
}
.info-content h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.info-content p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.info-content ul li{
    font-size: 1.2rem;
    line-height: 2;
}
.info-content i{
    margin-right: 0.5rem;
    color: var(--secondary-color);
}
/* Key Takeaways */
.takeaways-cards{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 2rem;
padding: 1.5rem 0;
}
.takeaways-cards .card{
    flex-direction: row;
    text-align: left;
}
.takeaways-cards .card i{
    margin-right: 1rem;
    color: var(--primary-color);
}
/* Details section */
.details .details-flex{
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}
.details img{
    width: 100%;
    max-width: 500px;
}
.details h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.details .heading-border{
    margin: 0;
}
.details p{
    margin: 1rem 0 2rem;
}
/* Author information */
.details ul{
    margin-bottom: 2rem;
}
.detials ul li{
line-height: 2;
}
.details ul li i{
    color: var(--primary-color);
    margin-right: 0.5rem;
}

/* Stats */
.stats{
    background: #000 url(../images/stats-background.jpg) center center / cover no-repeat;
    color: white;
}
.stats-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
}
.stats-content{
    max-width: 500px;
}

.stats .stats-numbers{
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.stats .stats-numbers h3{
    font-size: 3rem;
    font-weight: 700;
}
.stats .stats-numbers p{
    font-size: 0.8rem;
}
.stats .stats-text{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.stats .btn{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 200px;
}
/* Button */
.btn {
    display: inline-block;
    padding: 1.3rem 2.3rem;
    border: 1px solid var(--secondary-color);
    border-radius: 32px;
    background: var(--secondary-color);
    color: var(--dark-color);
    cursor: pointer;
    transition: all 0.2s;
}

/* Media Queries */
@media (max-width: 1200px) {
    
    .hero .hero-flex {
        gap: 2rem;
    }
    .hero h1{
        font-size: 2.5rem;
    }
    .hero img{
        max-width: 500px;
        margin-right: 0px;
    }
    .topics{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width:992px){
    .navbar ul.main-menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 1rem;
}
   
    .hero{
        text-align: center;
    }
    .hero .hero-flex{
        flex-direction: column;
        padding-bottom: 4rem;
    }
    .hero img{
        max-width: 600px;
        margin-top: 2rem;
        
    }
    .topics{
        grid-template-columns: repeat(2,1fr);
    }
    .chapter-cards,.takeaways-cards{
        grid-template-columns: 1fr;
    }
    .details-flex,.stats-flex{
        flex-direction: column;
        gap: 2rem;
    }
    
}
@media(max-width:768px) {
    .main-menu-items, .info-left{
        display: none;
    }
    .navbar .mobile-menu{
        display: block;
    }
    .hero{
        padding-right: 0.2rem;
        padding-left:0.2rem;
    }
    .hero h1{
        font-size: 2.5rem;
    }
    .hero img{
        max-width: 350px;
    }
    .topics{
        grid-template-columns: repeat(2,1fr);
    }
    .info-contanier{
        flex-direction: column;
    }
    .info-content{
        padding: 2rem;
    }
    .info-content h2{
        font-size: 1.5rem;
    }
    .info-content p{
        font-size: 1rem;
    }
}
@media(max-width:576px){
    .main-menu-items{
            display: none;
        }
    
    .hero{
        padding-right: 0.2rem;
        padding-left:0.2rem;
    }
    .hero h1{
        font-size: 2.5rem;
    }
    .hero img{
        max-width: 350px;
        
    }
    .topics,.chapter-cards{
        grid-template-columns: 1fr;
    }
    .stats .stats-numbers{
        flex-direction: column;
    }
}
