*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #fc5d66;
    --secondary-color: #ffc05a;
    --light-color: #f9fafb;
    --dark-color: #272d35;
}
html,body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}

/* Containers */
.container{
max-width: 1200px;
margin: 0 auto;
padding: 0 2rem;
}
/* NavBar */
.navbar{
    background-color: transparent;
    /* background-color: black; */
    color:white;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    transition: background-color 0.5s ease-in-out;
}
.navbar-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    width: 81px;
    height: 32px;
}
.navbar a{
    color: #fff;
}
.navbar ul.main-menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}
.hero{
    background: #000 url(
        ../images/header-background.jpg
    ) center no-repeat;
    padding: 11.5rem 2rem 8rem;
    color: white;
    overflow-x: hidden;
    position: relative;
}
.hero .hero-flex{
    display: flex;
    gap: 6rem;
    padding-bottom: 8rem;
    align-items: center;
    justify-content: space-between;
}
.hero img{
    width: 100%;
    margin-right: -100px;
}

.hero h1{
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 1rem;
}
.hero p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.8;
    font-weight: 400;
}
.hero .frame-decoration{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/* Button */
.btn {
    display: inline-block;
    padding: 1.3rem 2.3rem;
    border: 1px solid var(--secondary-color);
    border-radius: 32px;
    background: var(--secondary-color);
    color: var(--dark-color);
    cursor: pointer;
    transition: all 0.2s;
}

@media(max-width:992px){
    .hero{
        text-align: center;
    }
    .hero .hero-flex{
        flex-direction: column;
        padding-bottom: 4rem;
    }
    .hero img{
        max-width: 600px;
        margin-top: 2rem;
        
    }
}
@media (max-width: 1200px) {
    .hero .hero-flex {
        gap: 2rem;
    }
    .hero h1{
        font-size: 2.5rem;
    }
    .hero img{
        max-width: 500px;
        margin-right: -100px;
    }
}
@media(max-width:576px){
    
    .hero{
        padding-right: 0.2rem;
        padding-left:0.2rem;
    }
    .hero h1{
        font-size: 3rem;
    }
    .hero img{
        max-width: 350px;
        
    }
}